@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Danh sách khóa học";
}
<h2>@ViewBag.Title</h2>
<ul>
    <li>Lập trình Web</li>
    <li>Cơ sở dữ liệu</li>
    <li>Toán rời rạc</li>
</ul>
