@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Thông tin khóa học";
}
<h2>@ViewBag.Title</h2>
<p>ID khóa học: @ViewBag.CourseId</p>
<p>Tên khóa học: Lập trình Web</p>
<p>Số tín chỉ: 3</p>